---

controller_templates:

  - name:                                 "mandatory"
    new_name:                             "optional"
    copy_from:                            "optional"
    description:                          "optional"
    execution_environment:                "optional"
    job_type:                             "optional"
    inventory:                            "optional"
    organization:                         "optional"
    project:                              "optional"
    playbook:                             "optional"
    credentials:                          "optional"
    forks:                                "optional"
    limit:                                "optional"
    verbosity:                            "optional"
    extra_vars:                           "optional"
    job_tags:                             "optional"
    force_handlers:                       "optional"
    skip_tags:                            "optional"
    start_at_task:                        "optional"
    diff_mode:                            "optional"
    use_fact_cache:                       "optional"
    host_config_key:                      "optional"
    ask_scm_branch_on_launch:             "optional"
    ask_diff_mode_on_launch:              "optional"
    ask_variables_on_launch:              "optional"
    ask_limit_on_launch:                  "optional"
    ask_tags_on_launch:                   "optional"
    ask_skip_tags_on_launch:              "optional"
    ask_job_type_on_launch:               "optional"
    ask_verbosity_on_launch:              "optional"
    ask_inventory_on_launch:              "optional"
    ask_credential_on_launch:             "optional"
    survey_enabled:                       "optional"
    survey_spec:                          "optional"
    become_enabled:                       "optional"
    allow_simultaneous:                   "optional"
    timeout:                              "optional"
    custom_virtualenv:                    "optional"
    instance_groups:                      "optional"
    job_slice_count:                      "optional"
    webhook_service:                      "optional"
    webhook_credential:                   "optional"
    scm_branch:                           "optional"
    labels:                               "optional"
    state:                                "optional"
    notification_templates_started:       "optional"
    notification_templates_success:       "optional"
    notification_templates_error:         "optional"

