---

controller_workflows:

  - name:                               "mandatory"
    new_name:                           "optional"
    copy_from:                          "optional"
    description:                        "optional"
    extra_vars:                         "optional"
    allow_simultaneous:                 "optional"
    organization:                       "optional"
    ask_variables_on_launch:            "optional"
    inventory:                          "optional"
    limit:                              "optional"
    labels:                             "optional"
    scm_branch:                         "optional"
    ask_inventory_on_launch:            "optional"
    ask_scm_branch_on_launch:           "optional"
    ask_limit_on_launch:                "optional"
    webhook_service:                    "optional"
    webhook_credential:                 "optional"
    survey_enabled:                     "optional"
    survey_spec:                        "optional"
    schema:                             "optional"
    destroy_current_schema:             "optional"
    state:                              "optional"
    notification_templates_started:     "optional"
    notification_templates_success:     "optional"
    notification_templates_error:       "optional"
    notification_templates_approvals:   "optional"
